.text-p {
font-size: 12px;
}
.h-c-100 {
height:380px;
}



.contacts-center {
    background-image: url("../../../assets/contacts.png");
    height: 270px;
    width: 400px;
    z-index: 200;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.contact-image-div {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}