@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
   font-family: "Inter", sans-serif;;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: '#141414';
}

.h-01 {
  height: 1px;
}